<!doctype html>
<html ng-app='Chatus'>
<head>
	<title>Chatus 1.0</title>
	<meta http-equiv='content-type' content='text/html; charset=utf-8' />
	<meta name='viewport' content='width=device-width, initial-scale=1.0'/>
	<meta name="description" content="Chatus 1.0 CHATTING APPLICATION">
    <meta name="author" content="MEETESH KUMAWAT">


	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link rel='stylesheet' href='styles/common.css'>
	<link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
	<link rel="shortcut icon" href="images/favicon.png">

</head>
<body ng-controller='userController'>

	<nav class='navbar navbar-inverse navbar-static-top'>
		<div class='container'>
			<div class='navbar-header'>
				<button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar'>
					<span class='sr-only'>For toggle</span>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
				</button>
				<a href='#' class='navbar-brand'>Chatus 1.0</a>
			</div>
			<div class='navbar-collapse collapse  navbar-right' id='navbar'>
				<ul class='nav navbar-nav'>
					<li class='active'><a href='#'>Home</a></li>
					<li><a href='#'>About Chatus 1.0</a></li>
					 <li class="dropdown" ng-if="userViewModelDS.mode=='in'">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
				          	{{userDataModelDS.currentUser.username}}<span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><a href="#">Update Profile</a></li>
				            <li role="separator" class="divider"></li>
				            <li><a href="#" ng-click='logout()'>Sign out</a></li>
				          </ul>
				      </li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">

		<div ng-if="userViewModelDS.mode=='out'">

			<div class='col-md-12'>
				<h1>Welcome to Chatus 1.0</h1>
			</div>

			<div class='col-md-12'>
				<br>
				<br>
			</div>

	      <div class='col-md-5 white-canvas'>
	      	<form >
	      			<h3>Register</h3>
	      			<hr>
	      			<div class='alert alert-warning' ng-if='userViewModelDS.signupForm.message'>{{userViewModelDS.signupForm.message}}</div>
	      			<div class="form-group">
					    <label for="fullName">Name</label>
					    <input type="text" class="form-control" id="fullName" ng-model='userViewModelDS.signupForm.name' placeholder="Name">
					</div>
					<div class="form-group">
					    <label for="username">Username</label>
					    <input type="text" class="form-control" id="username" ng-model='userViewModelDS.signupForm.username' placeholder="Username">
					</div>
					<div class="form-group">
					    <label for="password">Password</label>
					    <input type="password" class="form-control" id="password" ng-model='userViewModelDS.signupForm.password' placeholder="Password">
					</div>
					<div class="form-group">
					    <label for="cpassword">Confirm Password</label>
					    <input type="password" class="form-control" id="cpassword"  ng-model='userViewModelDS.signupForm.cPassword' placeholder="Confirm Password">
					</div>
					<div class="form-group">
					    <label for="dateofbirth">Date of birth</label>
					    <input type="text" placeholder='yyyy-mm-dd' class="form-control" id="dateofbirth"  ng-model='userViewModelDS.signupForm.dateOfBirth'/>
					</div>
					<button type="button" class="btn btn-default" ng-click='signup()'>Submit</button>

	      	</form>
	      	<br>
	      </div>

	      <div class='col-md-2'>
	      	<center>
	      	<h4>OR</h4>
	      </center>
	      </div>

	      <div class='col-md-5  white-canvas'>
	      	<form >
	      			<h3>Login</h3>
	      			<hr>
	      			<div class='alert alert-warning' ng-if='userViewModelDS.loginForm.message'>{{userViewModelDS.loginForm.message}}</div>
					<div class="form-group">
					    <label for="username">Username</label>
					    <input type="text" class="form-control"id="username" placeholder="Username" ng-model='userViewModelDS.loginForm.username'>
					</div>
					<div class="form-group">
					    <label for="password">Password</label>
					    <input type="password" class="form-control" id="password" placeholder="password"  ng-model='userViewModelDS.loginForm.password' >
					</div>
					<button type="button" class="btn btn-default" ng-click='login()'>Login</button>
	      	</form>
	      	<br>
	      </div>
         </div>

         <div ng-if="userViewModelDS.mode=='in'">
         	<div class='col-md-12'><h3>Wellcome home {{userDataModelDS.currentUser.username}}          		


         	</div>
         	<div class='col-md-4 well well-sm  '>
         		<h3>Online Users</h3>
         		<div class='user-list'>
         		<ul ng-if='chatDataModelDS.length'>
         			<li ng-repeat='cc in chatDataModelDS | userBasicOnlineFilter:userDataModelDS' ng-class='getSelectedUserCSSClass(cc.user)' ng-click='selectUser(cc)'>{{cc.user.username}} <span class='badge' ng-if='cc.newMessagesCount'>{{cc.newMessagesCount}}</span></li>
         		</ul>
         		<hr>
         		<div class='user-list'>
         		<ul ng-if='chatDataModelDS.length'>
         			<li ng-repeat='cc in chatDataModelDS | userBasicFilter:userDataModelDS' ng-class='getSelectedUserCSSClass(cc.user)' ng-click='selectUser(cc)' >{{cc.user.username}} <span class='badge' ng-if='cc.newMessagesCount'>{{cc.newMessagesCount}}</span></li>
         		</ul>
         		</div>

         		</div>
         	</div>
         	<div class='col-md-1'>
         		<br>
         	</div>
         	<div class='col-md-7 well well-sm'>
         		<div ng-if='userDataModelDS.selectedChat' class='message-list'>

         		<h3>{{userDataModelDS.selectedChat.user.username}}</h3>
         		<hr />
         			<ul>
						<li ng-repeat='msg in userDataModelDS.selectedChat.newMessages' class='new-message' ng-class='getMessageCSSClass(msg)' title='{{msg.dateSent}}'>{{msg.message}}</li>

         				<li ng-repeat='msg in userDataModelDS.selectedChat.messages' ng-class='getMessageCSSClass(msg)' title='{{msg.dateSent}}'>{{msg.message}}</li>
         			</ul>
         		</div>
         	</div>         
			<div class='col-md-1'>
         	</div>

			<div class='col-md-7 well well-sm' ng-if='userDataModelDS.selectedChat'>
				<textarea cols='80' rows='1' ng-model='messageDataModelDS.message'></textarea>
				&nbsp;
				<button class='btn btn-sm btn-default' ng-click='sendMessage()'>Send</button>
				
         	</div>
         

         </div>

         <div ng-if="userViewModelDS.mode==''">
         	<center>
         		<img src='images/loading.gif' alt='loading...'/>
         	</center>
         </div>


    </div> 



	<script type="text/javascript" src='scripts/jquery-2.2.1.min.js'></script>
	<script type="text/javascript" src='scripts/common.js'></script>
	<script type='text/javascript' src='bootstrap/js/bootstrap.min.js'></script>
	<script type="text/javascript" src='scripts/angular-1.5.0.min.js'></script>
	<script type="text/javascript" src='scripts/models/chatus.js'></script>
	<script type="text/javascript" src='scripts/services/userService.js'></script>
	<script type="text/javascript" src='scripts/services/messageService.js'></script>
		<script type="text/javascript" src='scripts/filters/userFilter.js'></script>
	<script type="text/javascript" src='scripts/controllers/userController.js'></script>

</body>

</html>